* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Common Styles*/
:root {
    --font-family-common1: 'poppins', sans-serif;
    --font-family-common2: 'Inter', sans-serif;
    --primary-color: #E02C6D;
    --btn-color: white;
}

/* Navbar Design Start*/
.header-menu ul li i {
    color: black;
}
.navbar-section {
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 49px auto;
}
.navbar-section h3 {
    font-family: var(--font-family-common1);
    font-weight: 700;
    font-size: calc(24 / 16 * 1rem);
    /* font-size: 100%; */
}
.header-menu ul li {
    list-style: none;
    font-family: var(--font-family-common1);
    font-size: 1rem;
}
.header-menu ul li a {
    text-decoration: none;
    color: #3A3A3A;
}
.header-menu ul li a i {
    color: #3A3A3A;
}
.header-menu ul {
    display: flex;
    align-items: center;
    gap: 34px;
}
/* Navbar Design End*/
/* Banner Section  Design Start */
.banner-section {
    max-width: 1200px;
    height: 415px;
    margin: 50px auto ;
    position: relative;
    box-sizing: border-box;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 69px;
}
.banner-column2 img {
    max-width: 100%;
    position: absolute;
    display: inline;
    top: 0;
    right: 0;
}
.banner-column2 {
    /* position: relative; */
}
.banner-column1 h1 {
    font-family: var(--font-family-common1);
    font-size: calc(52 / 16 * 1rem);
    font-weight: 600;
}
.banner-column1 p {
    font-family: var(--font-family-common1);
    font-size: 1rem;
    font-weight: 600;
    color: #3A3A3A;
    margin-top: 16px;
}
.banner-column1 button {
    background-color: #E02C6D;
    padding: 10px 24px;
    border: none;
    border-radius: 41px;
    color: white;
    font-family: var(--font-family-common1);
    font-weight: 700;
    font-size: 1rem;
    margin-top: 16px;
    cursor: pointer;
}
.banner-column1 button i {
    margin-left: 12px;
}
/* Banner Section  Design End */




/* Responsive Section Start */

/* Navbar Responsive Codes */
@media screen and (max-width: 480px) {
    .navbar-section {
        flex-direction: column;
        /* align-items: center; */
        margin: 49px auto;
        justify-content: center;
    }
    .navbar-section h3 {
        font-size: 100%;
    }
    .header-menu ul {
        gap: 24px;
        flex-wrap: wrap;
        margin: 10px 10px;
        justify-content: center;
        row-gap: 1px;
    }
}
/* Navbar Responsive Codes */

/* Banner Responsive Codes */

@media screen and (max-width: 480px) {
    
}

/* Banner Responsive Codes */

/* Responsive Section End */